.t1 img{
    float: left;
    
}
.t1{
    
    size: 30px;
    background: black;
    word-spacing: 12px;
    height: 120px;
    color: white;
    text-align: center;
}

.t2 {
    text-align: center;
    font-size: 34px;
    color: black;
}

h3 {
    font-size: 34px;
    color: black;
    text-align: center
}

.t5 h4 {
    text-align: center;
    color: white;
    size: 20px;
    background-color: rgb(213, 157, 136);
    word-spacing: 12px;
    font-size: 40px;
}
.co

.t1 img {
    float: left;
    padding-left: 22px;

}


.t5 p{
    
    text-align: center;
    font-size: 20px;
    color:black;

}

.t5 h5 {
    text-align: right;
    background-color: rgb(237, 243, 249)
}

.t5 h5 img {
    width: 10px;
    height: 10px;

}

.t1 h1 img {
    width: 20;
    height: 20;
}

.column {
    float: left;
    width: 33.33%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
h6{
    text-align: center;
    color: white;
    size: 20px;
    background-color: rgb(120, 94, 84);
    word-spacing: 12px;
    font-size: 40px;
}
body{
    background: linear-gradient(rgb(148, 148, 24 ),blue,white)
}